<div class="p-4">
    <h5 class="mb-5">Photo List</h5>
    <div class="d-flex align-items-lg-center flex-column flex-lg-row gap-4 pb-5">
        <app-search type="photo" [searchValue]="searchValue" (updateValue)="getFilteredPhotos($event)"></app-search>
        <app-select [items]="sortParams" [selectedItem]="selectedItem" (onSelect)="onSort($event)"></app-select>
    </div>
    <div class="photo-wrapper d-grid">
        @for (photo of photosCopy | slice : startItem : startItem + 10; track photo.id) {
        <div class="card rounded-3 border-0 d-flex flex-column justify-content-between mb-3 p-4 text-decoration-none">
            <a class="d-flex align-items-center justify-content-end" [routerLink]="['/photo', photo.id]">
                <fa-icon class="fa-link" [icon]="faLink"></fa-icon>
            </a>
            <p>{{ photo.title | titlecase }}</p>
            <img [src]="photo.url" alt="photo image" class="rounded-3">
        </div>
        }
    </div>
    @if(photosCopy && photosCopy.length) {
    <app-pagination [pagesLength]="photosCopy.length"  [currentPage]="startItem / 10 + 1" (onChangePage)="onPaginate($event)"></app-pagination>
    }
</div>