.header {
    background: #44637f;
    top: 0;
    right: 0;
    left: 243px;
    bottom: calc(100% - 90px);
}

@media (max-width: 768px) {
    .header {
        bottom: calc(100% - 70px);
        left: 56px;
    }
}