.user-card {
    color: #44637f;

    .card {
        color: #44637f;
    }

    .user-icon {
        font-size: 100px;
        color: #44637f;
    }

    .text-bold {
        font-weight: bold;
    }
}