<div class="p-4">
    <h5 class="mb-5">Post List</h5>
    <div class="d-flex align-items-lg-center flex-column flex-lg-row gap-4 pb-5">
        <app-search type="photo" [searchValue]="searchValue" (updateValue)="getFilteredPosts($event)"></app-search>
        <app-select [items]="sortParams" [selectedItem]="selectedItem" (onSelect)="onSort($event)"></app-select>
    </div>
    <div class="d-flex flex-wrap justify-content-center justify-content-md-between gap-4">
        @for (post of postsCopy | slice : startItem : startItem + 10; track post.id) {
        <div class="card p-4 d-flex flex-column gap-2">
            <div class="d-flex justify-content-between align-items-center">
                <p><span>Post {{ post.id }}</span></p>
                <div class="d-flex justify-content-between align-items-center gap-2">
                    <a [routerLink]="['/post', post.id]">
                        <fa-icon class="eye-icon" [icon]="faEye"></fa-icon>
                    </a>
                    <app-user-card [id]="post.userId"></app-user-card>
                </div>
            </div>
            <p><span>Title:</span> {{ post.title }}</p>
            <p><span>Description:</span> {{ post.body }}</p>
        </div>
        }
    </div>
 
    @if(postsCopy && postsCopy.length) {
    <app-pagination [pagesLength]="postsCopy.length"  [currentPage]="startItem / 10 + 1" (onChangePage)="onPaginate($event)"></app-pagination>
    }
</div>