<div class="w-100 h-100 left-sidebar">
    <div class="d-flex flex-column h-100 bg-primary-subtle position-fixed p-4 px-2 top-0 start-0 bottom-0">
        <div class="d-flex align-items-center justify-content-center justify-content-md-start ps-md-1 gap-3">
            <fa-icon [icon]="faSun" class="d-flex align-items-center justify-content-center h4 sun-icon"></fa-icon>
            <h3 class="d-none d-md-block">My App</h3>
        </div>
        <nav class="mt-5">
            <ul class="d-flex flex-column gap-2 list-unstyled">
                @for (card of items; track $index) {
                    <li>
                        <a class="text-decoration-none p-2 d-flex align-items-center justify-content-center justify-content-md-start gap-2 rounded-1"
                            [routerLink]="[card.url]" [routerLinkActiveOptions]="{ exact: card.url === '/' }" routerLinkActive="active">
                            <fa-icon class="navbar-icon" [icon]="card.icon"></fa-icon>
                            <span class="d-none d-md-block">{{ card.name }}</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>