.left-sidebar {
    min-width: 243px;

    .position-fixed {
        right: calc(100% - 243px);
    }

    h3,
    .sun-icon {
        color: #44637f;
        margin: 0;
    }

    nav li a {
        color: #44637f !important;
    }

    nav li a.active,
    nav li a:hover {
        background-color: #44637f;

        span,
        .navbar-icon {
            color: #ffffff !important;
        }
    }
}

@media (max-width: 768px) {
    .left-sidebar {
        min-width: 56px;

        .position-fixed {
            right: calc(100% - 56px);
        }
    }
}