@if (cards.length) {
    <div class="p-4 dashboard-wrapper">
        <h2 class="text-center mb-5">We offer you following services</h2>
        <div class="d-flex flex-wrap justify-content-center gap-4">
            @for (card of cards; track $index) {
                <div class="card p-4 d-flex flex-column justify-content-center align-items-center gap-2">
                    <a [routerLink]="[card.url]" routerLinkActive="router-link-active" >
                        <fa-icon class="card-icon" [icon]="card.icon"></fa-icon>
                    </a>
                    <h4>{{ card.count }} {{ card.name }}</h4>
                    <p class="text-center">{{ card.description}}</p>
                </div>
            }
        </div>
    </div>
}